@model IEnumerable<Grupp29.Models.PlantCategory>

@{
    ViewBag.Title = "Index";
}

<link href="~/Css/StyleManage.css" rel="stylesheet" />


<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @style = "font-size:larger;color: darkblue;" })
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PlantCategoryName }, new { @style = "font-size:larger;color: darkblue;" }) |
                @Html.ActionLink("Details", "Details", new { id = item.PlantCategoryName }, new { @style = "font-size:larger;color: darkblue;" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PlantCategoryName }, new { @style = "font-size:larger;color: darkblue;" })
            </td>
        </tr>
    }

</table>
