@model IEnumerable<Grupp29.Models.PlantCategory>

@{
    ViewBag.Title = "Index";
}

    <link href="~/Css/StyleFF.css" rel="stylesheet" />

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PlantCategoryName }) |
            @Html.ActionLink("Details", "Details", new { id=item.PlantCategoryName }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PlantCategoryName })
        </td>
    </tr>
}

</table>
