
@{
    ViewBag.Title = "Mina vinster";
}

@using Grupp29.Controllers;
@using Grupp29.Models;

<link href="~/Css/StyleManage.css" rel="stylesheet" />
@if (Request.IsAuthenticated)
{

    <h2>Mina vinster</h2>

    <img style="width: 200px; height: 260px;" src="~/RewardsImage/Reward.png" />
    <br />
    <br />
    <br />
    <br />


    MyRewardsController myRewardsController = new MyRewardsController();
    string currentlyLoggedIn = User.Identity.Name;

    int numberOfForumPosts = 0;
    foreach (Forum ForumPost in myRewardsController.GetForumPostRewardFromAuthor(currentlyLoggedIn))
    {
        numberOfForumPosts = numberOfForumPosts + 1;
    }




    int numberOfComments = 0;
    foreach (ForumPostComment Comment in myRewardsController.GetCommentRewardFromAuthor(currentlyLoggedIn))
    {
        numberOfComments = numberOfComments + 1;
    }

    <p><b>Antal inlägg du skapat i forumet: </b> @numberOfForumPosts.ToString()</p>

    if (numberOfForumPosts <= 0)
    {
        <img style="width: 200px; height: 250px;" src="~/RewardsImage/I1Bklar.png" />
    }

    if (numberOfForumPosts >= 1)
    {
        <img style="width: 200px; height: 250px;" src="~/RewardsImage/I1klar.png" />
    }

    if (numberOfForumPosts >= 0 & numberOfForumPosts <= 9)
    {
        <img style="width: 200px; height: 250px;" src="~/RewardsImage/I10Bklar.png" />
    }

    if (numberOfForumPosts >= 10)
    {
        <img style="width: 200px; height: 250px;" src="~/RewardsImage/I10klar.png" />
    }

    if (numberOfForumPosts >= 0 & numberOfForumPosts <= 24)
    {
        <img style="width: 200px; height: 250px;" src="~/RewardsImage/I25Bklar.png" />
    }

    if (numberOfForumPosts >= 25)
    {
        <img style="width: 200px; height: 250px;" src="~/RewardsImage/I25klar.png" />
    }

    if (numberOfForumPosts >= 0 & numberOfForumPosts <= 49)
    {
        <img style="width: 200px; height: 250px;" src="~/RewardsImage/I50Bklar.png" />
    }

    if (numberOfForumPosts >= 50)
    {
        <img style="width: 200px; height: 250px;" src="~/RewardsImage/I50klar.png" />
    }

    if (numberOfForumPosts >= 0 & numberOfForumPosts <= 99)
    {
        <img style="width: 200px; height: 250px;" src="~/RewardsImage/I100Bklar.png" />
    }

    if (numberOfForumPosts >= 100)
    {
        <img style="width: 200px; height: 250px;" src="~/RewardsImage/I100klar.png" />
    }
    <br />
    <br />
    <br />
    <br />

    <p><b>Antal kommentarer du gjort i forumet: </b>@numberOfComments.ToString()</p>

    if (numberOfComments <= 0)
    {
        <img style="width: 220px; height: 265px;" src="~/RewardsImage/K1Bklar.png" />
    }

    if (numberOfComments >= 1)
    {
        <img style="width: 220px; height: 265px;" src="~/RewardsImage/K1klar.png" />
    }

    if (numberOfComments >= 0 & numberOfComments <= 9)
    {
        <img style="width: 220px; height: 270px;" src="~/RewardsImage/K10Bklar.png" />
    }

    if (numberOfComments >= 10)
    {
        <img style="width: 215px; height: 265px;" src="~/RewardsImage/K10klar.png" />
    }

    if (numberOfComments >= 0 & numberOfComments <= 24)
    {
        <img style="width: 200px; height: 250px;" src="~/RewardsImage/K25Bklar.png" />
    }

    if (numberOfComments >= 25)
    {
        <img style="width: 200px; height: 250px;" src="~/RewardsImage/K25klar.png" />
    }

    if (numberOfComments >= 0 & numberOfComments <= 49)
    {
        <img style="width: 200px; height: 250px;" src="~/RewardsImage/K50Bklar.png" />
    }

    if (numberOfComments >= 50)
    {
        <img style="width: 200px; height: 250px;" src="~/RewardsImage/K50klar.png" />
    }

    if (numberOfComments >= 0 & numberOfComments <= 99)
    {
        <img style="width: 210px; height: 260px;" src="~/RewardsImage/K100Bklar.png" />
    }

    if (numberOfComments >= 100)
    {
        <img style="width: 200px; height: 250px;" src="~/RewardsImage/K100klar.png" />
    }
}
else
{
    <link href="~/Css/StyleManage.css" rel="stylesheet" />
    <h1>Du måste logga in för att komma åt denna sida!</h1>
}
