
@{
    ViewBag.Title = "Mina vinster";
}

<link href="~/Css/StyleManage.css" rel="stylesheet" />

<h2>Mina vinster</h2>

<img style="width: 250px; height: 300px;" src="~/RewardsImage/Reward-removebg-preview.png"/>
