@{
    ViewBag.Title = "Index";
}



@if (ViewBag.displayMenu == "Yes")
{
    <h3>
        <li>@Html.ActionLink("Manage Role", "Index", "Role")</li>
    </h3>

}
else
{
    <h2>  Välkommen <strong>@ViewBag.Name</strong> </h2>
}
