
@{
    ViewBag.Title = "Landskapsblommor";
}

<link href="~/Css/StyleManage.css" rel="stylesheet" />


<h2>Landskapsblommor</h2>


<div class="col-md-4">

    <img style="width: 330px; height: 640px;" src="~/FunFactsImage/Sverigekarta.png" />

</div>

<div class="col-md-8">

    <img style="width: 690px; height: 440px;" src="~/FunFactsImage/Landskapsblommor.png" />


</div>
