
@{
    ViewBag.Title = "FunFacts";
}

<h2>FunFacts</h2>

<div class="col-md-6">

   <p style="text-align:center;">Landskapsblomma</p>

</div>

<div class="col-md-6">

    <p style="text-align:center;">Fun Fact</p>

</div>
