
@model Grupp29.Models.RoomList

@{
    ViewBag.Title = "Välkommen till din sida!";
}


<h2>@ViewBag.Title</h2>

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(m => m.listName)
    </dt>

    <dd>
        @Html.DisplayFor(m => m.listName)
    </dd>

    <!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <p>
                <a href="/RoomList/CreateList" class="btn btn-info btn-lg">
                    <span class="glyphicon glyphicon-plus"></span> Lägg till
                </a>
            </p>
        </div>
    </body>
</html>
