
@{
    ViewBag.Title = "FAQ";
}

    <link href="~/Css/StyleFAQ.css" rel="stylesheet"/>

    <h2>Vanliga frågor / FAQ</h2>
    <div class="row">
        <div class="col-md-4">
            <br />
            <h4><b>Hur registrerar jag mig?</b></h4>
            <p>På starstidan kan du klicka på "Registrera" knappen och följa instuktionerna för att skapa ett konto.</p>
            <br />

            <h4><b>Hur lägger jag till nya växter?</b></h4>
            <p>Registrerade användare kan lägga till växter antingen genom att söka på växter i sökfunktionen eller genom sina listor.</p>

            <br />
            <h4><b>Hur tar jag bort en växt?</b></h4>
            <p>Du kan ta bort växter genom att klicka på dem i dina listor, och där välja knappen "Ta bort växt".</p>


        </div>
                <div class="row">
                    <div class="col-md-4">
                        <br />
                        <h4><b>Hittade du inte svaret på din fråga?</b></h4>
                        <p>Skriv din fråga här så svarar vi så fort vi kan!</p>
                        <textarea id="w3review" name="w3review" rows="4" cols="50"></textarea>
                        <br />
                        <button type="button">Skicka</button>
                    </div>
                </div>
            </div>
