body {
    background-image: url(Roas.jpg);
    background-size: cover;
    color: black;
}

.jumbotron {
    color: black;
    background-image: url(original.jpg);
    background-size: cover;
}

.row p{
    color: black;
}
