@model Grupp29.Models.RoomList

@{
    ViewBag.Title = "Delete";
}

<h3>Är du säker på att du vill ta bort listan?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.listName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.listName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Ta bort" class="btn btn-default" /> |
            @Html.ActionLink("Tillbaka", "Index")
        </div>
    }
</div>
