@model Grupp29.Models.RoomList

@{
    ViewBag.Title = "Delete";
}


<h3>Är du säker på att du vill ta bort listan?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayFor(model => model.listName)
            <input type="submit" value="Ta bort" class="btn btn-default" />
        </dt>

        <dd>
            
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            
        </div>
    }
</div>

<div>@Html.ActionLink("Tillbaka", "Index")</div>