@model IEnumerable<Grupp29.Models.RoomList>
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Min sida";

}

<link href="~/Css/StyleManage.css" rel="stylesheet" />

@if (Request.IsAuthenticated)
{

    <h3>Min lista</h3>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.listName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.listName)
                </td>
                <td>
                    @Html.ActionLink("Redigera", "Edit", new { id = item.id }, new { @style = "font-size:larger;color: darkblue;" }) |
                    @Html.ActionLink("Ta bort", "Delete", new { id = item.id }, new { @style = "font-size:larger;color: darkblue;" })
                </td>
            </tr>


        }
                      </table>
}
else
{
    <link href="~/Css/StyleManage.css" rel="stylesheet" />
    <h1>Du måste logga in för att komma åt denna sida!</h1>
}



