@{
    ViewBag.Title = "Home Page";
}

<link href="Css/StyleHome.css" rel="stylesheet"/>

<div class="jumbotron">
    <h1>Växthemsida</h1>
</div>

<div class="row">
    <div class="col-md-4" style="padding-bottom: 100px">
        <p>
            På den här sidan kan du hitta information om växter.
            Om du skapar ett konto kan du lägga till de växter du har hemma och få koll på hur du ska sköta dem.
        </p>
        @Html.ActionLink("Registrera konto", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
  
    </div>
</div>