@model IEnumerable<Grupp29.Models.ForumPostCategory>

@{
    ViewBag.Title = "Kategorier";
}

<h2>Kategorier</h2>

<p>
    @Html.ActionLink("Lägg till ny kategori", "Create")
</p>
<table class="table">

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.ActionLink("Ta bort", "Delete", new { id = item.CategoryName})
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("Tillbaka", "Create", "ForumPostCategories")
</div>
