
<h2>Ändra dina kontouppgifter</h2>

<br />

<div>
    @Html.ActionLink("Ändra uppgifter", "EditUserInformation", "Manage")
</div>

<br />

<div>
    @Html.ActionLink("Ändra lösenord", "ChangePassword", "Manage")
</div>
